/*
    common style modules
 */
$yellow: #FFC313;
.module-banner{
    margin: -10px;
    img{
        max-width: 100%;
    }
}

.m-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    .green-tile {
        display: block;
        float: left;
        width: 4px;
        height: 14px;
        background-color: #44b336;
        margin: 4px 10px 0 0;
    }
}

.m-title-big {
    font-size: 1.8rem;
    margin-bottom: 10px;
    .green-tile {
        margin-top: 4px;
    }
}

.module-header {
    height: 60px;
}

.module-subscribe {
    .account {
        padding: 20px;
        border: 1px solid #eee;
        p {
            padding: 2px 0;
        }
        .name {
            font-size: 1.8rem;
        }
        .count {
            font-size: 1.2rem;
            color: #999;
        }
    }
    .logo {
        $w: 80px;
        width: $w;
        height: $w;
        border-radius: 40px;
        overflow: hidden;
        margin-right: 20px;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
.module-course{
    li{
        margin: 0 0 10px 0;
        border-bottom: 1px solid #f6f6f6;
        padding-bottom: 10px;
    }
    span{
        display: block;
        margin: 0 0 4px 0;
    }
    .btn-more{
        text-align: center;
        padding: 12px 0;
        font-size: 1.6rem;
        color: #999
    }
    a{
        display: block;
        img{
            width: 120px;
            float: left;
            margin: 0 10px 0 0;
        }
        .title{
            font-size: 1.6rem;
        }
        .desc{
            font-size: 1.2rem;
            color: #ccc;
        }
        .btn{
            font-style: normal;
            margin-top: 4px;
            border-radius: 20px;
            font-size: 1.2rem;
            background-color: $yellow;
            padding: 6px 18px;
            color: #fff;
        }
    }
}

.module-tags{
    margin-bottom: -10px;
    li{
        padding: 4px 8px;
        border-radius: 20px;
        border: 1px solid $yellow;
        float: left;
        margin: 0 10px 10px 0;
    }
    a{
        color: $yellow;
    }
}

.module-slider {
    overflow: hidden;
    li{
        height: 160px;
        img{
            max-height: 100%;
        }
    }
}

.module-tuwen {
    overflow: hidden;
    .overflow-wrap{
        margin-right: -10px;
    }
    ul{
        width: 100%;
        margin-right: -30px;
    }
    li {
        float: left;
        width: 33.33333333%;
        a {
            display: block;
            line-height: 36px;
            text-align: center;
            font-size: 1.2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin-right: 10px;
        }
        img {
            max-width: 100%;
        }
    }
}
.module-tuwen-multi{
    li{
        width: 100%;
    }
}

.module-article {
    li {
        padding: 10px 0;
        a {
            position: relative;
            display: block;
        }
    }
    img{
        float: right;
        width: 120px;
        height: 80px;
    }
    .title {
        display: block;
        font-size: 1.6rem;
        margin-bottom: 10px;
    }
    .desc {
        color: #aaa;
    }
    .updateTime {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
    }
    .btn-more {
        border: 1px solid #44b336;
    }
}

.module-descript {
    padding: 10px;
    line-height: 24px;
    p{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .author {
        text-align: right;
    }
}

.module-video {
    background-color: #222;
    color: #fff;
    min-height: 160px;
}

.module-bestlist {
    li {
        line-height: 30px;
        a {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.module-hotzt {
    li {
        line-height: 3rem;
        width: 33.33333333%;
        float: left;
        a {
            display: block;
            padding-right: 2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.module-foot-nav{
    border-top: 1px solid #eee;
    padding-top: 20px;
    li{
        width: 100px;
        float: left;
        margin-right: 20px;
    }
}

.module-footer {
    text-align: center;
    margin-top: 20px;
    padding: 30px 0;
    background-color: #eee;
}
