body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

body {
  font-family: 'Helvetica Neue', Helvetica, STHeiTi, 'Microsoft Yahei', sans-serif;
  font-size: 1.4rem;
  background-color: #FFF;
  overflow-x: hidden;
  position: relative; }

a {
  color: #333; }
  a:active {
    color: #44b336; }

::-webkit-scrollbar {
  width: 1px; }

.cf:before, .l-row:before, .cf:after, .l-row:after {
  content: '';
  display: table; }

.cf:after, .l-row:after {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.por {
  position: relative; }

.poa {
  position: absolute; }

.overscroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.layout {
  width: 100%; }

.l-row {
  width: 100%; }

.m-block {
  background-color: #fff;
  padding: 10px;
  margin: 0 0 10px 0; }
  .m-block img {
    display: block; }

[class*="l-col-"] {
  width: 100%;
  float: left; }

@media screen and (min-width: 640px) {
  .layout {
    width: 640px;
    margin-left: auto;
    margin-right: auto; } }

.btn {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none; }

.btn-green {
  background-color: #44b336;
  color: #fff; }
  .btn-green:active {
    color: #fff;
    background-color: #33a225; }

.btn-orange {
  background-color: #f50;
  color: #fff; }
  .btn-orange:active {
    color: #fff;
    background-color: #ee4400; }

.btn-disabled {
  background-color: #ddd;
  color: #aaa; }

/*
    common style modules
 */
.module-banner {
  margin: -10px; }
  .module-banner img {
    max-width: 100%; }

.m-title {
  font-size: 1.8rem;
  margin-bottom: 10px; }
  .m-title .green-tile {
    display: block;
    float: left;
    width: 4px;
    height: 14px;
    background-color: #44b336;
    margin: 4px 10px 0 0; }

.m-title-big {
  font-size: 1.8rem;
  margin-bottom: 10px; }
  .m-title-big .green-tile {
    margin-top: 4px; }

.module-header {
  height: 60px; }

.module-subscribe .account {
  padding: 20px;
  border: 1px solid #eee; }
  .module-subscribe .account p {
    padding: 2px 0; }
  .module-subscribe .account .name {
    font-size: 1.8rem; }
  .module-subscribe .account .count {
    font-size: 1.2rem;
    color: #999; }

.module-subscribe .logo {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  overflow: hidden;
  margin-right: 20px; }
  .module-subscribe .logo img {
    display: block;
    width: 100%;
    height: 100%; }

.module-course li {
  margin: 0 0 10px 0;
  border-bottom: 1px solid #f6f6f6;
  padding-bottom: 10px; }

.module-course span {
  display: block;
  margin: 0 0 4px 0; }

.module-course .btn-more {
  text-align: center;
  padding: 12px 0;
  font-size: 1.6rem;
  color: #999; }

.module-course a {
  display: block; }
  .module-course a img {
    width: 120px;
    float: left;
    margin: 0 10px 0 0; }
  .module-course a .title {
    font-size: 1.6rem; }
  .module-course a .desc {
    font-size: 1.2rem;
    color: #ccc; }
  .module-course a .btn {
    font-style: normal;
    margin-top: 4px;
    border-radius: 20px;
    font-size: 1.2rem;
    background-color: #FFC313;
    padding: 6px 18px;
    color: #fff; }

.module-tags {
  margin-bottom: -10px; }
  .module-tags li {
    padding: 4px 8px;
    border-radius: 20px;
    border: 1px solid #FFC313;
    float: left;
    margin: 0 10px 10px 0; }
  .module-tags a {
    color: #FFC313; }

.module-slider {
  overflow: hidden; }
  .module-slider li {
    height: 160px; }
    .module-slider li img {
      max-height: 100%; }

.module-tuwen {
  overflow: hidden; }
  .module-tuwen .overflow-wrap {
    margin-right: -10px; }
  .module-tuwen ul {
    width: 100%;
    margin-right: -30px; }
  .module-tuwen li {
    float: left;
    width: 33.33333333%; }
    .module-tuwen li a {
      display: block;
      line-height: 36px;
      text-align: center;
      font-size: 1.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-right: 10px; }
    .module-tuwen li img {
      max-width: 100%; }

.module-tuwen-multi li {
  width: 100%; }

.module-article li {
  padding: 10px 0; }
  .module-article li a {
    position: relative;
    display: block; }

.module-article img {
  float: right;
  width: 120px;
  height: 80px; }

.module-article .title {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 10px; }

.module-article .desc {
  color: #aaa; }

.module-article .updateTime {
  display: none;
  position: absolute;
  right: 0;
  top: 0; }

.module-article .btn-more {
  border: 1px solid #44b336; }

.module-descript {
  padding: 10px;
  line-height: 24px; }
  .module-descript p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
  .module-descript .author {
    text-align: right; }

.module-video {
  background-color: #222;
  color: #fff;
  min-height: 160px; }

.module-bestlist li {
  line-height: 30px; }
  .module-bestlist li a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.module-hotzt li {
  line-height: 3rem;
  width: 33.33333333%;
  float: left; }
  .module-hotzt li a {
    display: block;
    padding-right: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.module-foot-nav {
  border-top: 1px solid #eee;
  padding-top: 20px; }
  .module-foot-nav li {
    width: 100px;
    float: left;
    margin-right: 20px; }

.module-footer {
  text-align: center;
  margin-top: 20px;
  padding: 30px 0;
  background-color: #eee; }

body {
  background-color: #f6f6f6; }

a {
  text-decoration: none; }

header {
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  background: #11ba55;
  color: #FFF; }

.head-banner {
  height: 320px;
  background-color: #2e8c4b; }
  .head-banner img {
    max-height: 100%;
    margin-left: auto;
    margin-right: auto; }

footer {
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  background-color: #eee;
  font-size: 1.2rem;
  color: #666; }

.side-fixed {
  position: fixed;
  left: 50%;
  margin-left: 500px;
  bottom: 50px; }
  .side-fixed ul li {
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
    text-align: center;
    line-height: 38px; }

.example {
  width: 196px;
  height: 196px;
  background: url(http://devres.hjfile.cn/pt//mobile/dev/logo.png?939166023d7e3c712ca4156f2bdce892) no-repeat; }

.demo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
.mu-dialog-bglayer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8); }

.mu-dialog {
  position: fixed;
  visibility: hidden;
  z-index: 1000; }

.mu-visible {
  visibility: visible; }

.mu-pop {
  width: 280px;
  text-align: center;
  background-color: #FFF;
  border-radius: 5px;
  color: #333;
  font-size: 1.6rem; }

.mu-pop-title {
  padding: 10px;
  border-bottom: 1px solid #EEE;
  color: #35BA00; }

.mu-pop-content {
  padding: 25px 10px; }

.mu-btns {
  border-top: 1px solid #EEE; }

.mu-btn {
  padding: 15px 10px;
  font-size: 1.4rem;
  cursor: pointer;
  color: #35BA00; }

.mu-btn:active {
  border-radius: 0 0 5px 5px;
  background-color: #EEE; }

.mu-2btns .mu-btn {
  width: 50%;
  float: left; }

.mu-2btns .mu-btn:first-child {
  border-right: 1px solid #EEE; }

.mu-prevent-animation {
  -webkit-animation: none !important;
  animation: none !important; }

.mu-slider-wrap {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.mu-fadeIn {
  -webkit-animation: fadeIn .3s ease 0s both;
  animation: fadeIn .3s ease 0s both; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.mu-fadeOut {
  -webkit-animation: fadeOut .3s ease 0s both;
  animation: fadeOut .3s ease 0s both; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.mu-fadeInDown {
  -webkit-animation: fadeInDown .3s ease 0s both;
  animation: fadeInDown .3s ease 0s both; }

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0); } }

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0); } }

.mu-fadeOutDown {
  -webkit-animation: fadeOutDown .3s ease 0s both;
  animation: fadeOutDown .3s ease 0s both; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.mu-fadeInUp {
  -webkit-animation: fadeInUp .3s ease 0s both;
  animation: fadeInUp .3s ease 0s both; }

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0); } }

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); } }

.mu-fadeOutUp {
  -webkit-animation: fadeOutUp .3s ease 0s both;
  animation: fadeOutUp .3s ease 0s both; }

@-webkit-keyframes mu-scaleDownIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1); } }

@keyframes mu-scaleDownIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.mu-scaleDownIn {
  -webkit-animation: mu-scaleDownIn .3s ease 0s both;
  animation: mu-scaleDownIn .3s ease 0s both; }

@-webkit-keyframes scaleDownOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1); } }

@keyframes scaleDownOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); } }

.mu-scaleDownOut {
  -webkit-animation: scaleDownOut .3s ease 0s both;
  animation: scaleDownOut .3s ease 0s both; }

@-webkit-keyframes mu-scaleUpIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 1); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1); } }

@keyframes mu-scaleUpIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.mu-scaleUpIn {
  -webkit-animation: mu-scaleUpIn .3s ease 0s both;
  animation: mu-scaleUpIn .3s ease 0s both; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.mu-fadeInRight {
  -webkit-animation: fadeInRight .3s ease 0s both;
  animation: fadeInRight .3s ease 0s both; }

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0); } }

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0); } }

.mu-fadeOutRight {
  -webkit-animation: fadeOutRight .3s ease 0s both;
  animation: fadeOutRight .3s ease 0s both; }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-30px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.mu-fadeInLeft {
  -webkit-animation: fadeInLeft .3s ease 0s both;
  animation: fadeInLeft .3s ease 0s both; }

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-30px, 0, 0); } }

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0); } }

.mu-fadeOutLeft {
  -webkit-animation: fadeOutLeft .3s ease 0s both;
  animation: fadeOutLeft .3s ease 0s both; }

.mu-page {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.mu-page-current {
  visibility: visible;
  z-index: 9; }

.overscroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.overhidden {
  overflow: hidden; }

.mu-moveToTop {
  -webkit-animation: moveToTop .3s ease 0s both;
  animation: moveToTop .3s ease 0s both; }

.mu-moveFromTop {
  -webkit-animation: moveFromTop .3s ease 0s both;
  animation: moveFromTop .3s ease 0s both; }

.mu-moveToBottom {
  -webkit-animation: moveToBottom .3s ease 0s both;
  animation: moveToBottom .3s ease 0s both; }

.mu-moveFromBottom {
  -webkit-animation: moveFromBottom .3s ease 0s both;
  animation: moveFromBottom .3s ease 0s both; }

@-webkit-keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%); } }

@keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

@-webkit-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%); } }

@keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

@-webkit-keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%); } }

@keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%); } }

@keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

.mu-moveToLeft {
  -webkit-animation: moveToLeft .3s ease 0s both;
  animation: moveToLeft .3s ease 0s both; }

.mu-moveFromLeft {
  -webkit-animation: moveFromLeft .3s ease 0s both;
  animation: moveFromLeft .3s ease 0s both; }

.mu-moveToRight {
  -webkit-animation: moveToRight .3s ease 0s both;
  animation: moveToRight .3s ease 0s both; }

.mu-moveFromRight {
  -webkit-animation: moveFromRight .3s ease 0s both;
  animation: moveFromRight .3s ease 0s both; }

@-webkit-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%); } }

@keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%); } }

@keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@-webkit-keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%); } }

@keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%); } }

@keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }
