{% extends 'common/layout.html' %}

{% block title %}Hot Front-End{% endblock %}

{% block head %}
    {% if (!isDEV) %}
        <link rel="stylesheet" href="{{css}}">
    {% endif %}
{% endblock %}

{% block body %}

    <div class="wrapper">
        <div class="layout">

            <div class="l-row">

                <div class="l-col-12">
                    <div class="m-block">
                        <div class="head-banner" style="background-image:url({{locals.banner.src}})"></div>
                    </div>
                </div>

                <div class="l-col-12">
                    <div class="m-block">
                        <div class="hot-banner">
                            Hot Front-End Workflow
                        </div>
                        <div class="code">
                            <p>
                                A tool can generate a complete scaffold for Node.js full-stack developping
                            </p>
                            <pre>
    hot init [name] *   // initialize a scaffold

    hot pack dev        // run webpack package
    hot pack pre
    hot pack online

    hot upload dev      // upload your static resouces
    hot upload pre

    hot serve           // start a local server for local developping

    hot new [name]
    hot on [name]
                            </pre>
                        </div>
                    </div>
                </div>

                <div class="l-col-12">
                    <div class="m-block">
                        <div class="userinfo">
                            <p>
                                <img src="{{ user.avatar }}" alt="{{ user.name }}" />
                            </p>
                        </div>
                        <div class="footer">
                            @roei
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        this.CUR_DATA = {
            user: {
                id: {{ user.id }},
                name: '{{ user.name }}'
            }
        }
    </script>
    <script src="{{js}}"></script>

{% endblock %}
