<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>webpack</title>
</head>

<body>
    <div class="test">
        <div class="demo">1</div>
        <div class="demo">2</div>
        <div class="demo">3</div>
        <div class="demo">4</div>
    </div>
    <div class="example"></div>
    <div class="footer">
        <ul>
            <li>1text</li>
            <li>2text</li>
            <li>3text</li>
            <li>4text</li>
        </ul>
    </div>
    <script src="http://m.hujiang.com/js/zepto.min.js"></script>
    <script src="_dev/main.js"></script>
</body>

</html>
